<% for(var i = 0; i < dealers.length; i++) { %>
    <tr>
        <td><%= dealers[i].name %></td>
        <td><%= dealers[i].email %></td>
        <td><%= dealers[i].number %></td>
        <td><%= dealers[i].material %></td>
        <td><%= dealers[i].weight %></td>
        <td><%= dealers[i].quantity %></td>
        <td><%= dealers[i].city %></td>
        <td><%= dealers[i].state %></td>
    </tr>
    <% } %>